@charset "UTF-8";
/* CSS Document */
body, .active, footer {
	background-color:#F0F8FF;
}

.activetab {
	background-color:#143A4F;
}

#navbar ul li {
	background-color:#2B7BA7;
	color: #143A4F;
}

.activetab, .active {
	color:#7AD2FF;
}

a[data-role=pagelink] {
	display: block;
	text-decoration: none;
	color:#143A4F;
}

h1, h2, footer {
	color: #7AD2FF;
}
/**********************************
	  			Nav bar
**********************************/
#navbar {
	/*border-radius:5px;*/
	/*border:1px solid black;*/
	overflow: auto;
	border-top:1px solid red;
	border-bottom: 1px solid red;
}

#navbar ul {
	overflow:auto;
	display: inline;
	padding-left:0;
}

#navbar ul li {
	float:left;
	clear:none;
	width:49.9%;
}

#navbar ul li:first-child{
	border-right:0.1rem solid black;
	float:right;
}

/**********************************
	  			Body
**********************************/
#currently, #hourly, #daily {
	margin-left:5%;
	margin-right:5%;
}

body {
	margin:0;
}

section[data-role=page] {
	display:none;
}

.active {
	display: block;
}

section > h2 {
	text-align: center;
}

.container {
	margin-left: auto;
	margin-right: auto;
}

h1 {
	text-align: center;
}

ul {
	list-style:none;
}

li {
	text-align: center;
}

li > div {
	overflow:auto;
}

#loading {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#loading img {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#currently {
	overflow: auto;
/*	border-bottom: 1px solid red;
*/	/*border:1px solid red;*/
	border-radius:5px;
}

#currently .weather-forecast {
	overflow:auto;
}

.forecast {
	overflow:auto;
	border:1px solid blue;
	border-radius:5px;
}

.left, .right {
	display:block;
}

.left {
	float:left;
	clear:none;
	width:69.8%;	
	overflow:auto;
	border-right:0.1rem solid black;
}

.right {
	float:right;
	clear:none;
	width:29.9%;
	
}

.right ul {
	padding-left:0;
}

.weather-list {
	padding-left:0;
}
/**********************************
	  			Footer
**********************************/
footer {
	width: 100%;
	text-align: center;
}

footer p {
	margin-top:0;
	margin-bottom:0;
}

/**********************************
	  			Icons
**********************************/
.skycon {
	width:50%;
}

.cloudy, .clear-day, .clear-night, .fog, .hail , .partly-cloudy-day, .partly-cloudy-night, .rain, .snow, .sleet, .thunderstorm, .tornado, .wind {
	height:50px;
} 

.cloudy {
	background: url("../img/icons/50x50/cloudy.png") no-repeat;
}
.clear-day {
	background: url("../img/icons/50x50/sunny.png") no-repeat;
}
.clear-night {
	background: url("../img/icons/50x50/moon.png") no-repeat;
}
.fog {
	background: url("../img/icons/50x50/fog.png") no-repeat;
}
.partly-cloudy-day{
	background: url("../img/icons/50x50/partly-cloudy.png") no-repeat;
}
.hail {
	background: url("../img/icons/50x50/freezing-rain.png") no-repeat;
}
.partly-cloudy-night {
	background: url("../img/icons/50x50/p-c-night.png") no-repeat;
}
.rain {
	background: url("../img/icons/50x50/rainy.png") no-repeat;
}
.snow {
	background: url("../img/icons/50x50/snow.png") no-repeat;
}
.sleet {
	background: url("../img/icons/50x50/sleet.png") no-repeat;
}
.thunderstorm {
	background: url("../img/icons/50x50/thunder-storm.png") no-repeat;
}
.tornado {
	background: url("../img/icons/50x50/smoke.png") no-repeat;
}
.wind {
	background: url("../img/icons/50x50/wind.png") no-repeat;
}

@media all and (max-width:640px) and (min-width:401px) {
	.left {
		border-right:0;
	}

	.right {
		border-left:0.1rem solid black;
	}
	#navbar ul li {
		float:left;
		clear:none;
		width:49.85%;
	}
} 

@media all and (max-width:400px) {
	#hourly, #daily {
		margin-left:0;
		margin-right:0;
	}
	.left {
		border-right:0;
	}

	.right {
		border-left:0.1rem solid black;
	}
	#navbar ul li {
		float:left;
		clear:none;
		width:49.85%;
	}
	.forecast {
		border-left:0;
		border-right:0;
		border-radius:0;
	}
}